.image {
    width: 10vw;
    height: auto;
    padding: 40px;
}

.title {
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(226, 70, 43);
}

.row {
    display: flex;
    flex-direction: row;
}

.row.centered {
    justify-content: space-evenly;
}

.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 20rem;
    height: 30rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #2906f0
}

.pokemon-avatar {
    justify-self: center;
    width: 12rem;
    padding: 1em;
}

button {
    position: relative;
    background-color: #e04b52;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
}

button:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
}

form, .bubble {
    padding: 2rem;
    background-color: #2906f0;
    border-radius: 1rem;
    margin: .5rem;
    width: fit-content;

}

.subtitle {
    padding: 1em;
    font-family: monospace;
    color: white;
    font-weight: 700;
}

input, select{
    width: inherit;
    padding: 8px;
    border-radius: 99999px;
    margin-bottom: .5rem;

}

 .hide {
    display: none;
}