.image {
    width: 150px;
    height: 100px;
    padding: 40px;
}
.title {
    align-items: center;
    font-family: 'Times New Roman', Times, serif;  
    background-color: rgb(226, 70, 43);                            
}

.row {
    display: flex;
    flex-direction: row;   
}

.row.centered {
    justify-content: center;
}

.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
}

.pokemon-avatar {
    justify-self: center;
    height: 12rem;
    width: auto;
}

button {
    position: relative;
    background-color: #e04b52;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
}

button:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
}

